@page
@model ClientApplication.Pages.Clients.DeleteModel
@{
}
<h1>Usuń @Html.DisplayFor(model => model.Client.Name)</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.TelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.TelephoneNumber)
        </dd>
    </dl>
</div>
<div>    
    <form method="post">
        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Client.Id">Anuluj</a> |
        <input type="hidden" asp-for="Client.Id" />
        <input class="btn btn-danger" type="submit" value="Usuń @Html.DisplayFor(model => model.Client.Name)" />
    </form>
</div>