@page
@model ClientApplication.Pages.Clients.DetailsModel
@{
}
<h1>@Html.DisplayFor(model => model.Entity.Name) - Szczegóły</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entity.TelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entity.TelephoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entity.Id">Edytuj</a> |
    <a asp-page="./Index">Powróć do listy</a>
</div>