@page
@model ClientApplication.Pages.Clients.DetailsModel
@{
    ViewData["Title"] = "Szczegóły Klienta";
}
<h1>@Html.DisplayFor(model => model.Client.Name) - Szczegóły</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.TelephoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.TelephoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Powróć do listy</a> |
    <a asp-page="./Edit" asp-route-id="@Model.Client.Id">Edytuj</a> |    
    <a asp-page="./Delete" asp-route-id="@Model.Client.Id">Usuń</a>
</div>