@page
@model ClientApplication.Pages.Translators.DeleteModel
@{
    ViewData["Title"] = "Usuń Tłumacza";
}
<h1>Usuń Tłumacza - @Html.DisplayFor(model => model.Translator.Name)</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translator.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translator.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Translator.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Translator.Name)
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@Model.Translator.Id">Anuluj</a> |
        <input type="hidden" asp-for="Translator.Id" />
        <input class="btn btn-danger" type="submit" value="Usuń @Html.DisplayFor(model => model.Translator.Name)" />
    </form>
</div>